<!-- Display all users from user service -->
<ul>
    <ng-template ngFor let-user [ngForOf]="users">
        <li>
            {{user.firstName}} | {{user.lastName}}
        </li>
    </ng-template>
</ul>
<div>
    <!-- Added data-driven form instead of template-driven in home.component -->
    <!-- define formGroup directive and pass variable of form group -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit($event, userForm)" novalidate>
        <div>
            <label for="firstName">First Name:</label>
            <input id="firstName" formControlName="firstName" type="text" >
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input id="lastName" formControlName="lastName" type="text" >
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" >
        </div>
        <div>
            <label for="age">Age:</label>
            <input id="age" formControlName="age" type="text">
        </div>
        <div>
            <input type="submit" value="submit" [disabled]="userForm.invalid">
        </div>
    </form>
</div>